body {
  background-color: #1c1c1c;
  color: #e0e0e0;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin: 30px 0;
}

.navButton {
  padding: 6px 12px;
  background-color: transparent;
  border: 2px solid #aaff00;
  border-radius: 4px;
  color: #aaff00;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}

.navButton:hover {
  background-color: #aaff00;
  color: #1c1c1c;
  box-shadow: 0 0 12px #aaff00;
  transform: scale(1.1);
}

.blogButton {
  border-radius: 5px;
  padding: 8px 16px;
  background-color: #aaff00;
  color: #1c1c1c;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s ease;
}

.blogButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #aaff00;
}

.qslButton {
  padding: 8px 14px;
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.qslButton:hover {
  background-color: limegreen;
  box-shadow: 0 0 12px limegreen;
  transform: scale(1.05);
}
